<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>Test</display-name>
	<servlet>
		<servlet-name>Testt</servlet-name>
		<display-name>Testt</display-name>
		<description></description>
		<servlet-class>com.cn.find.Testt</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Testt2</servlet-name>
		<display-name>Testt2</display-name>
		<description></description>
		<servlet-class>com.cn.find.Testt2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Getwork</servlet-name>
		<display-name>Getwork</display-name>
		<description></description>
		<servlet-class>com.cn.find.Getwork</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SaveAccon</servlet-name>
		<display-name>SaveAccon</display-name>
		<description></description>
		<servlet-class>com.cn.find.SaveAccon</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Getperson</servlet-name>
		<display-name>Getperson</display-name>
		<description></description>
		<servlet-class>com.cn.find.Getperson</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SavePerson</servlet-name>
		<display-name>SavePerson</display-name>
		<description></description>
		<servlet-class>com.cn.find.SavePerson</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveWork</servlet-name>
		<display-name>SaveWork</display-name>
		<description></description>
		<servlet-class>com.cn.find.SaveWork</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Testt</servlet-name>
		<url-pattern>/Testt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testt2</servlet-name>
		<url-pattern>/Testt2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Getwork</servlet-name>
		<url-pattern>/Getwork</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveAccon</servlet-name>
		<url-pattern>/SaveAccon</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Getperson</servlet-name>
		<url-pattern>/Getperson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SavePerson</servlet-name>
		<url-pattern>/SavePerson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveWork</servlet-name>
		<url-pattern>/SaveWork</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
